* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* dark mode */

.main-bg {
  background-color: #e6e6e6;
}
.display-bg {
  background-color: #eeeeee;
}
.key-bg-container {
  background-color: #d1cbcb;
}

.key-container {
  background-color: #e1e1e1;
  border: 0px solid;
  box-shadow: 1px 3px #b4b4b4;
}

.summary-content {
  background-color: #fe8b3a;
  border: 0px solid;
  box-shadow: 1px 3px #ef6400;
}

.del-content {
  background-color: #00928d;
  color: white;
  border: 0px solid;
  box-shadow: 1px 3px #006a6e;
}

.res-content {
  background-color: #00928d;
  color: white;
  border: 0px solid;
  box-shadow: 1px 3px #006a6e;
}

.key-container:hover {
  background-color: #f0f7fc;
}

.key-container:active {
  background-color: #f86c5d;
}

.summary-content:hover {
  background-color: rgb(224, 108, 95);
}

.summary-content:active {
  background-color: rgb(168, 69, 58);
}

.del-content:hover {
  background-color: rgb(184, 196, 227);
}

.del-content:active {
  background-color: rgb(122, 133, 159);
}

.res-content:hover {
  background-color: rgb(184, 196, 227);
}

.res-content:active {
  background-color: rgb(122, 133, 159);
}
